<h1><%= @restaurant.name %></h1>

<%= link_to "back", restaurants_path %>
<%= link_to "delete", admin_restaurant_path(@restaurant), method: :delete %>
<%= link_to "edit", edit_admin_restaurant_path %>

<h3> Is located in <%= @restaurant.address %></h3>
<h3> The category is <%= @restaurant.category %></h3>
<h3> The phone-number is <%= @restaurant.phone_number %></h3>


<% @restaurant.reviews.all.each do |r| %>
<h4><%= r.content %> | Stars: <%= r.rating %></h4>
<% end %>

<%= link_to "add a comment", new_restaurant_review_path(@restaurant) %>
